* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0d1b2a; /* Azul escuro */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

body::before,
body::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.05);
  transform: rotate(45deg);
}

body::before {
  width: 400px;
  height: 400px;
  top: -100px;
  left: -100px;
  border-radius: 50%;
}

body::after {
  width: 300px;
  height: 300px;
  bottom: -100px;
  right: -100px;
  border-radius: 10%;
}

.login-container {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0d1b2a;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #0d1b2a;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botão de envio */
.submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0d1b2a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #1b263b;
}

#info {
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  text-align: center;
  display: none;
}
